@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Zeyada&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: aliceblue;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 5rem;
}


